@inherits LayoutComponentBase
@inject IHttpClientFactory clientFactory
@using PaceMe.BlazorApp.Properties

<AuthorizeView>
    <Authorized>
        <main class="wrapper">
            <NavMenu/>

            <div class="container page-body">
                @Body
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <main class="wrapper login-page">
            <div class="login-card">
                <h1>PaceMe</h1>
                <h5>Running Training Planner</h5>
                <a class="button login-button" style="padding: 0 2rem" href="authentication/login">Please Log In</a>
            </div>
        </main> 
    </NotAuthorized>
    
</AuthorizeView>