# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

name: 0.4.$(Rev:r)

variables:
  version: $(Build.BuildNumber)

pool:
  vmImage: ubuntu-latest

steps:

- task: UseDotNet@2
  inputs:
    version: '3.1.x'
    packageType: sdk

# Blazor Frontend
- task: UseDotNet@2
  inputs:
    version: '5.0.x'
    packageType: sdk

- task: FileTransform@2
  displayName: "Version Manifest"
  inputs:
    folderPath: 'wwwroot'
    xmlTransformationRules: ''
    jsonTargetFiles: manifest.json

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    arguments: '--output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: False
  displayName: 'Publish the Blazor App'

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: PaceMe.BlazorApp