html, body {
    background-color: #444;
    color: #fff;
}

input {
    color: #fff;
}

a {
    color: #fff;
}

hr {
    border-top-color: #666;
}

th, td {
    border-bottom-color: #666;
}

button, .button {
    background-color: #fff;
    color: #444;
    border: #fff;
}

.button-outline, .button.button-outline, button.button-outline {
    color: #fff;
    border: 1px solid #fff;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.modal-backdrop {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 999;
}

.modal {
    position: relative;
    min-width: 300px;
    max-width: 90vw;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #444;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-content {
    width: 100%;
    float: left;
    display: block;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flex-wrapper.full-height {
    height: 100vh;
}

.card {
    min-width: 300px;
    max-width: 90%;
    padding: 1rem;
    background-color: #444;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    border-radius: 1rem;
    text-align: center;
}

.block-button {
    display: block;
    width: 100%;
}