.segment-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.segment {
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    background-color: #222;
    color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    position: relative;
}

.segment-controls {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.segment-controls .segment-control-button {
    font-size: 0.9rem;
    padding: 0.8rem 1.6rem;
    line-height: 0;
}

.segment-notes {
    float:left;
    clear:right;
    width: calc(100% - 14rem);
}

.segment-time {
    float: left;
    clear: right;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
}

.segment.create-segment {
    border: 1px dashed #999;
}

.time-input-wrapper {
    display: flex;
    flex-direction: row;
}
.time-input {
    width: 12rem;
}