@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<section style="margin-top:0.5rem" class="float-right">
    <AuthorizeView>
        <Authorized>
            <button class="button" style="padding: 0 2rem" @onclick="BeginLogout">Log out</button>
        </Authorized>
        <NotAuthorized>
            <a class="button" style="padding: 0 2rem" href="authentication/login">Log in</a>
        </NotAuthorized>
        
    </AuthorizeView>
</section>
@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
