.page-body {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-card {
    width: 24rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    background-color: #444;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
}

.login-button {
    display: block;
}